.DS_Store

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

usbhost/usb_host
usbdevice_stk/bin
usbdevice_stk/lst
usbdevice_stk/build
usbdevice_dk/bin
usbdevice_dk/lst
usbdevice_dk/build
